<!-- Footer -->
<footer class="footer" id="footer">
    <div class="footer-content">
        <div class="footer-section s1">
            <h3>About Us</h3>
            <p>ArtBeats is a platform dedicated to showcasing stunning artwork from talented artists around the world. Explore, inspire, and connect through the beauty of art.
            </p>
        </div>
        <div class="footer-section s2">
            <h3>Quick Links</h3>
            <ul>
                <li><a class="navA" href="/">Home</a></li>
                <li><a class="navA" href="#">About</a></li>
                <li><a class="navA" href="/ArtBeats">Gallery</a></li>
                <li><a class="navA" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section s3">
            <h3>Contact Us</h3>
            <ul>
                <li>Email: null</li>
                <li>Phone: null</li>
                <li>Address: null</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Sayantan-B-Dev. All rights reserved.</p>
    </div>
</footer>