<% layout('layouts/boilerplate') %>

<a href="/ArtBeats/newArt"><button class="btn">Add new art</button></a>
<div class="cards">
    <%  for(let Art of Arts){ %>
        <div class="art-card" onclick="window.location.href='/ArtBeats/<%= Art._id %>';">
            <%if(Art.images.length){%>
                <img class="card-image" src="<%= Art.images[0].url %>" alt="">
            <%}else{%>
                <img class="card-image" src="/images/noImage.jpeg" alt="">
            <%}%>
            <div class="card-text card-header">
                <h2 class="art-title">
                    <%= Art.title %>
                </h2>
                <div class="location-info">
                    <span class="material-icons">place</span>
                    <%= Art.location %>
                </div>
            </div>
        </div>
    <% } %>
</div>

