<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllStreetArts</title>
</head>
<body>
    <h1>AllStreetArts</h1>
    <h2><a href="/AllStreetArts/newArt">Add new art</a></h2>
    <%  for(let art of Arts){ %>
        <li><a href="http://localhost:3000/AllStreetArts/<%= art._id %>"><%= art.title %> - <%= art.location %></a></li>
    <% } %>
</body>
</html>