<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/AllStreetArts" method="POST" style="display:flex;flex-direction: column; max-width: 300px;">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title" />
    
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Description" />
    
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" placeholder="Location" />
    
        <label for="artist_name">Artist Name:</label>
        <input type="text" id="artist_name" name="artist_name" placeholder="Artist Name" />
    
        <label for="date_created">Date Created:</label>
        <input type="date" id="date_created" name="date_created" />
    
        <button type="submit">Submit</button>
    </form>

    <h2><a href="/AllStreetArts">All Arts</a></h2>
</body>
</html>