.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
    background: radial-gradient(circle, rgba(46, 44, 44, 0.8), rgba(39, 35, 35, 1));
    border-radius: 8px;
}

.art-card {
    background-color:azure;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    z-index: 1;
}
@media (max-width: 768px) {
    .art-card  {
        width: 300px;
    }
}

.art-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 12px rgb(229, 255, 0);

}
.art-card:hover .card-image {
    transform: scale(1.6);  
}
.card-text{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;
    z-index: 2;
    margin: 0 10px 0 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
.card-image{
    width: 100%; 
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: transform 0.3s ease;
    transform-origin: center top;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid #000000;
    padding-bottom: 0.8rem;
}

.art-title {
    color: #000000;
    font-size: 1.4rem;
    margin: 0;
}

.art-date {
    color: #000000;
    font-size: 0.9rem;
    font-style: italic;
}

.art-description {
    color: #000000;
    line-height: 1.6;
    border-bottom: 2px solid #000000;
}

.card-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: #000000;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.artist-info, .location-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.material-icons {
    font-size: 1.1rem;
    color: #3c5be7;
}


.alert {
    display: none;
    position: fixed;
    bottom: 10%;
    left: 10px;
    width: fit-content;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.alert-success {
    background-color: #2bc54f;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.alert-danger {
    background-color: #cc0a1e;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}


.alert.hide {
    display: none;
}
